.loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 9999;
  display: grid;
  place-items: center;
  animation: yoqol 1s linear 3s 1 both;

  .loading {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 20px dashed grey;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes yoqol {
  to {
    visibility: hidden;
    opacity: 0;
  }
}