.perfect {
  display: flex;


   h1 {
    font-size: 46px;
    color: white;
    position: absolute;
    width: 517px;
    height: 228px;
    left: 80px;
    top: 1400px;
    font-family: "Open" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 143%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  
}
.perfect-img {
    margin-left: 725px;
    width: 680px;
    height: 460px;
   margin-top: 90px;
}

